* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444aff;
}

@media (max-width: 116em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 104em) {
  html {
    font-size: 52%;
  }
}

@media (max-width: 97em) {
  html {
    font-size: 45%;
  }
}
